
<!--<div class="slides">
	<div><img src="img/bird.jpg"></div>
</div>!!-->


<%= form_for @galleries.new do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br />

	<%= f.label :body %>
	<%= f.text_area :body %><br />

	<%= f.submit %>
<% end %>





<div class="multiple-items">
	<div><img src="<%= asset_path('DSC00477.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00448.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00473.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00475.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00477.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00476.JPG') %>"></div>
</div>

<script>$('.multiple-items').slick({
  dots: true,
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1
});</script>
