
<!--<div class="slides">
	<div><img src="img/bird.jpg"></div>
</div>!!-->


<%= form_for @galleries.new do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br />

	<%= f.label :body %>
	<%= f.text_area :body %><br /><br />

	<%= f.submit %>
<% end %></br></br>

<%= form_for Image.new, url: images_path, html: { multipart: true } do |f| %>
  <%= f.file_field :avatar %></br></br>
  <%= f.submit "Save" %>
<% end %></br>





<div class="multiple-items">
	<div><img src="<%= asset_path('DSC00477.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00448.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00473.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00475.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00477.JPG') %>"></div>
	<div><img src="<%= asset_path('DSC00476.JPG') %>"></div>
</div>




