<h1>All My Galleries</h1>

<%= render 'gallery' %>

<p><%= link_to 'new gallery', new_gallery_path %></p>

<ul>
<% @galleries.each do |gallery| %>
	<li>
		<%= link_to gallery.name, galleries_path(galleries) %>
		<%= link_to 'edit', edit_gallery_path(gallery) %>
		<%= link_to 'delete', gallery_path(gallery),method: :delete, 
			data: {confirm: "Are you sure?"} %>
	</li>
	<% end %>
</ul>



<!--<div class="scroller">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>!-->

